*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items:center;
  display: flex;
  background-image: linear-gradient(45deg,#6E5EBF,#9E60BA);
}